
   body {
            background-color: #ff00a2;
            font-family: Arial, sans-serif;
            color: #000;
            margin: 0;
            padding: 0;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
        .header .logo {
            display: flex;
            align-items: center;
        }
        .header .logo img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }
        .header .nav {
            display: flex;
            gap: 20px;
        }
        .header .nav a {
            color: #000;
            text-decoration: none;
            font-size: 18px;
        }
        
        .header .nav .dropdown {
            position: relative;
            display: inline-block;
        }
        .header .nav .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ff00a2;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .header .nav .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .header .nav .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        .header .nav .dropdown:hover .dropdown-content {
            display: block;
        }
        .profile-pic {
            width:200px;
            height: 200px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
            margin-left: 10%;
            margin-top: 10%;
        }
        .goals-title {
            font-size: 48px;
            color: #6e6e6e;
            margin-left: 60%;
        }
        .goals-list {
            text-align: left;
            display: inline-block;
            margin-left: 50%;
        }
        .goals-list li {
            font-size: 24px;
            margin-bottom: 10px;
        }
        .cursor {
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: rgb(255, 0, 149);
            border-radius: 50%;
            pointer-events: none; 
            transform: translate(-50%, -50%);
            animation: color 3s infinite;
        }
        
        @keyframes color {
            0%, 100% {
                background: blue;
            }
            50% {
                background: #4b0082;
            }
            100%{
                background: #ff1493;
            }
        }
       
       
       
       