body {
    background-color: #ff69b4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header .logo {
    display: flex;
    align-items: center;
}
.header .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.header .nav {
    display: flex;
    gap: 20px;
}
.header .nav a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.header .nav .dropdown {
    position: relative;
    display: inline-block;
}
.header .nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff69b4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.header .nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header .nav .dropdown-content a:hover {
    background-color: #f1f1f1;
}
.header .nav .dropdown:hover .dropdown-content {
    display: block;
}
.skills-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #4b0082;
    margin-top: 50px;
}
.container {
    text-align: center;
    display: flex;
    padding: 100px;
    justify-content: space-around;
    margin-top: 50px;

}
.text {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    color: black;

}
.text span {
    color: black;
    font-weight: bold;
    margin-left: 10%;
}
.chart {
    width: 100px;
    height: 100px;
    background: conic-gradient(#ff1493 0% 70%, #ffb6c1 70% 100%);
    border-radius: 50%;
    margin-top: 10%;
}
.cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 149);
    border-radius: 50%;
    pointer-events: none; 
    transform: translate(-50%, -50%);
    animation: color 3s infinite;
}

@keyframes color {
    0%, 100% {
        background: blue;
    }
    50% {
        background: #4b0082;
    }
    100%{
        background: #ff1493;
    }
}
